.heroSection {
   margin: 2em;
   background-repeat: no-repeat;
   background-image: url('https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg');
   background-position: 50%;
   background-size: cover;
   background-attachment: scroll;
   background-origin: padding-box;
   background-clip: border-box;
}

.heroSection h1 {
   font-size: 5rem;
   font-family: 'Courier New';
}

.heroSection h2 {
   font-size: 3rem;
   font-family: Quicksand;
   color: #1971c2;
}
