.donationCard {
   margin-bottom: 1.5em;
   padding: 2em;
   background-color: #e9ecef;
   border: 1px solid #ccc;
   border-radius: 0.7em;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   font-family: Roboto, sans-serif;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}
.donationCard:hover {
   transform: translateY(-5px);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.donationCardHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
}
.donationCardTitle {
   color: #333;
}
.donationCardButton {
   padding: 0.625em 1.25em;
   border: none;
   border-radius: 0.7em;
   background-color: #4dabf7;
   color: white;
   cursor: pointer;
   transition: background-color 0.3s ease;
}
.donationCardButton:hover {
   background-color: #228be6;
}
.donationCardDescription {
   width: 60%;
   color: #2c3e50;
   line-height: 2;
}
.donationCardTargetInfo {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}
.donationCardProgressBar {
   width: 90%;
   background-color: #ccc;
   border-radius: 0.7em;
}
.donationCardProgress {
   color: white;
   text-align: center;
   border: 4px solid #ccc;
   border-radius: 0.7em;
}
.donationCardDonationTarget {
   min-width: 10%;
   font-size: 1.5em;
   color: #34495e;
   text-align: right;
}
.low {
   background-color: #f08c00;
}
.low:hover {
   background-color: #e8590c;
}
.med {
   background-color: #ffd43b;
}
.med:hover {
   background-color: #fab005;
}
.high {
   background-color: #69db7c;
}
.high:hover {
   background-color: #40c057;
}
