.menu {
   width: 12em;
   height: 12em;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 0.7em;
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu h4 {
   height: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   font-weight: 500;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menuList {
   height: 9em;
   display: flex;
   flex-direction: column;
   margin: 0;
   list-style-type: none;
}

.menuItem {
   height: 100%;
   display: flex;
   align-items: center;
   padding-left: 1em;
   font-weight: 300;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   transition: background-color 0.2s;
}

.menuItem:hover {
   background-color: #f0f0f0;
   cursor: pointer;
}

.menuLowerBoundry {
   border-radius: 0 0 0.7em 0.7em;
}

.menuModal {
   width: 100vw;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.2);
}
