.userAuth {
   display: flex;
   height: 4em;
   margin-right: 1em;
}

.authButton {
   width: 6em;
   margin-right: 1em;
   font-size: 1rem;
   font-family: Roboto;
   font-weight: 300;
   white-space: nowrap;
   background-color: #a5d8ff;
   border-radius: 0.7em;
   border: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   transition: 0.2s ease-in-out;
   cursor: pointer;
}

.authButton:hover {
   background-color: #4dabf7;
   color: white;
}
