@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.donationCards {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: auto;
}
.donationCardsHeader {
   margin-bottom: 1em;
   background-color: white;
}
.donationCardsTitle {
   font-size: 8em;
   font-family: Roboto, sans-serif;
   text-align: center;
}
.donationCardsButton {
   padding: 1.25em 2.5em;
   width: 10em;
   border: none;
   background-color: transparent;
   cursor: pointer;
   transition: background-color 0.3s ease;
}
.donationCardsButton:hover {
   background-color: #333;
   color: white;
}
.donationCardsOptionsButtonsBar {
   width: 100%;
   margin-bottom: 2em;
   position: sticky;
   top: 0;
   z-index: 1;
   display: flex;
   justify-content: center;
   background-color: white;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.donationCardLeftButtons {
   display: flex;
}
.searchContainer {
   position: relative;
   width: 100%;
   max-width: 400px;
}
.searchInput {
   width: 100%;
   padding: 0.5em;
   padding-left: 2em;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.donationCardsRightButton {
   display: flex;
   align-items: center;
   gap: 0.5em;
}
.searchIcon {
   color: #888;
   cursor: pointer;
}
.donationCardsOptionsButtons {
   display: flex;
   width: 70%;
   justify-content: space-between;
}
